<!DOCTYPE html>
<html>

<body>
    <header>
        <div class="logo">
            <h1 style="font-size: 50px;color: blue;">Gadg</h1>
            <h1 style="font-size: 50px;color: orange;">Eon</h1>
        </div>
        <!-- <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>About</li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        <div class="images">
            <img src="../../assets/images/IT_development_data_0-770x720.jpg" alt="image1" id="img">
        </div>
        <div class="info">
            <h2><u>About Us</u></h2>
            <p>Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital
                technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital
                technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital
                technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital
                technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital
                technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital
                technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all enggine.</p>
        </div>
    </main>
</body>

</html>