<!DOCTYPE html>
<html>

<body>
    <header>
        <div class="logo">
            <h1 style="font-size: 50px;color: blue;">Gadg</h1>
            <h1 style="font-size: 50px;color: orange;">Eon</h1>
        </div>
        <!-- <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li>Services</li>
            </ul>
        </nav> -->
    </header>
    <main>
        <h2 class="cform"><u>Services</u></h2>
        <div class="container">
            <div class="part1">
            <div class="part">
                <img src="../../assets/images/1_gtIEtKXiEsX13Qw9d6-fEg.png" alt="Services1">
            </div>
            <div class="part">
                <img src="../../assets/images/IT_development_data_0-770x720.jpg" alt="Services2">

            </div>
            <div class="part">
                <img src="../../assets/images/technical-skills-as-a-pm-featured-image.jpg" alt="Services3">
<div class="text">

</div>
            </div>
        </div>
        <!-- <div class="part1">
            <div class="part">
                <img src="../../assets/images/technical-skills-as-a-pm-featured-image.jpg" alt="Services4">
            </div>
            <div class="part">
                <img src="../../assets/images/IT_development_data_0-770x720.jpg" alt="Services5">
            </div>
            <div class="part">
                <img src="../../assets/images/1_gtIEtKXiEsX13Qw9d6-fEg.png" alt="Services6">
            </div>
            </div> -->
        </div>
    </main>
</body>

</html>
