<!DOCTYPE html>
<html>

<body>
    <header>
        <div class="logo">
            <h1 style="font-size: 50px;color: blue;">Gadg</h1><h1 style="font-size: 50px;color: orange;">Eon</h1>
        </div>
        <!-- <nav>
            <ul>
            <li>Home</li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Services</a></li>
        </ul>
        </nav> -->
    </header>
    <main>
        <div class="images">
            <img src="../../assets/images/1_gtIEtKXiEsX13Qw9d6-fEg.png" alt="image1" id="img">
            <img src="../../assets/images/60de7799def3a9047efed107_top-technical-skill-to-list-on-resume.png"
                alt="image2" id="img1">
            <img src="../../assets/images/technical-skills-as-a-pm-featured-image.jpg" alt="image3" id="img">
        </div>
        <div class="info">
            <h2><u>Info</u></h2>
            <p>Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all engineering and operational activities.Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using
                new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while
                the team from Gadgeon taking care of all enggine.</p>
        </div>
    </main>
</body>

</html>